# GitHub Linguist Overrides
# Forces GitHub to treat Jupyter Notebooks as Python and ignore non-code data

*.ipynb linguist-language=Python
*.ipynb linguist-vendored
*.ipynb linguist-documentation
*.ipynb -linguist-detectable

*.csv linguist-vendored
*.csv linguist-documentation
*.csv -linguist-detectable
